---
type Heading = {
  depth: number;
  slug: string;
  text: string;
};

type Props = {
  headings: Heading[];
};

const { headings } = Astro.props;
const visibleHeadings = headings.filter((heading) => heading.depth <= 3);
---

{
  visibleHeadings.length > 0 ? (
    <details class="toc-panel" open>
      <summary class="toc-title">On this page</summary>
      <nav aria-label="Table of contents">
        <ol class="toc-list">
          {visibleHeadings.map((heading) => (
            <li class:list={{ [`depth-${heading.depth}`]: true }}>
              <a href={`#${heading.slug}`}>{heading.text}</a>
            </li>
          ))}
        </ol>
      </nav>
    </details>
  ) : null
}
